/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    margin: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 2rem;
}

.search-select .placeholder {
    color: #999;
}

.button {
    margin-left: 10px;
    background-color: #4c5993;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.button svg {
    margin-right: 10px;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form {
    margin-top: 10px;
    width: 300px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #4c5993;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.grid-container {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: repeat(4, 1fr); 
}
.card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.card-media {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-content {
    padding: 10px;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.card-title {
    font-size: 1.2rem;
    margin: 0;
}

.input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-select, .search-input {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.welcome-container {
    margin-top: 40px;
}

.info-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-box {
    padding: 20px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.info-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.info-item {
    margin-bottom: 10px;
}

.info-item strong {
    display: inline-block;
    width: 100px;
}

.comment-container {
    margin-bottom: 10px;
}

.comment-button {
    margin-left: 5px;
    background-color: #4c5993;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.navbar {
    background-color: #4c5993;
    padding: 10px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 10px;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-list a:hover {
    background-color: #303f9f;
}

.nav-list button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-size: inherit;    /* Add this line */
    font-family: inherit;  /* Add this line */
}

.nav-list button:hover {
    background-color: #303f9f;
}

.empty-album-message {
    text-align: center;
    font-size: 1.2em;
    color: #555;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.empty-album-message svg {
    margin-right: 10px;
    fill: #555;
}

.arrow {
    margin-top: 15px;
    background-color: rgb(10, 115, 150);
}

.arrow:disabled {
    background-color: #999;
}